---
import Layout from "../../layouts/Layout.astro";
import CollectionProducts from "../../components/CollectionProducts.jsx";
const { name } = Astro.params;
import { pages } from "../../assets/pages.json";

let coleccion = "";
let page_title = "";
pages.map((page) => {
	if (page.slug == name) {
		coleccion = page.collection;
		page_title = page.title;
	}
});
---

<Layout title={page_title} path={name}>
	<div class="flex flex-col gap-4 items-center justify-center my-24 md:my-28">
		<h1 class="font-extrabold text-4xl tracking-wider uppercase">
			{page_title}
		</h1>
		<p>128 products</p>
	</div>
	<div class="flex px-4 md:px-8">
		<div class="w-1/2 flex flex-col justify-end items-end">
			<select
				id="hs-select-label"
				class="block md:hidden border-2 py-3 px-4 pr-9 w-full md:w-1/3 border-gray-200 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 my-6 mr-2"
			>
				<option selected>Ordenar</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>
		<div class="w-1/2 flex flex-col justify-end items-end">
			<select
				id="hs-select-label"
				class="border-2 py-3 px-4 pr-9 block w-full md:w-1/3 border-gray-200 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 my-6 ml-2"
			>
				<option selected>Ordenar</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>
	</div>
	<CollectionProducts collection={coleccion} client:load />
</Layout>
