---
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;

const ip =
	Astro.request.headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
---

<Layout title={"Solé"}>
	<div
		class="grid grid-flow-col auto-cols-max gap-6 p-4 md:p-16 overflow-x-scroll"
	>
		<!-- <Productos products={recommendations} isRecommendation={true} /> -->
	</div>
</Layout>
