---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Inicio"}>
	<section class="w-[90%] m-auto py-6 lg:py-10">
		<picture>
			<source
				media="(min-width:768px)"
				srcset="/desktop.png"
			/>
			<img src="/phone.png" class="w-full" />
		</picture>
	</section>

  <section class="w-[90%] py-6 md:w-[80%] m-auto flex flex-col items-center my-12">
    <h2 class="font-extrabold text-2xl tracking-wider uppercase">Categorias</h2>
    <div class="w-full flex flex-col md:flex-row items-center  justify-center gap-8 my-12">
      <div class="w-full md:w-1/4">
        <a href="/"><img src="/item.png" alt="" class="mx-auto">
          <div class="flex items-center justify-center md:justify-start gap-2">
            <div class="w-[25px] h-[1px] bg-black"></div><p>Categoria 1</p>
          </div>
        </a>
      </div>
      <div class="w-full md:w-1/4 "><a href="/"><img src="/item.png" alt=""class="mx-auto">
        <div class="flex items-center justify-center md:justify-start gap-2">
          <div class="w-[25px] h-[1px] bg-black"></div><p>Categoria 1</p>
        </div>
      </a>
      </div>
      <div class="w-full md:w-1/4"><a href="/"><img src="/item.png" alt="" class="mx-auto">
        <div class="flex items-center gap-2">
          <div class="w-[25px] h-[1px] bg-black"></div><p>Categoria 1</p>
        </div>
      </a>
      </div>
      <div class="w-full md:w-1/4"><a href="/"><img src="/item.png" alt="" class="mx-auto">
        <div class="flex items-center gap-2">
          <div class="w-[25px] h-[1px] bg-black"></div><p>Categoria 1</p>
        </div>
      </a>
      </div>
    </div>
  </section>

	<!-- <section class="w-[90%] m-auto my-4 md:py-4 md:px-16">
    <h2 class="font-bold text-xl">Categorias</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-6 gap-4 my-4">
      <a href="/">
        <img src="https://picsum.photos/330/415" alt="" />
        <span>Shop</span>
      </a>

      <a href="/">
        <img src="https://picsum.photos/330/415" alt="" />
        <span>Shop</span>
      </a>
      <a href="/">
        <img src="https://picsum.photos/330/415" alt="" />
        <span>Shop</span>
      </a>
      <a href="/">
        <img src="https://picsum.photos/330/415" alt="" />
        <span>Shop</span>
      </a>
      <a href="/">
        <img src="https://picsum.photos/330/415" alt="" />
        <span>Shop</span>
      </a>
      <a href="/">
        <img src="https://picsum.photos/330/415" alt="" />
        <span>Shop</span>
      </a>
    </div>
  </section> -->
</Layout>
