---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Inicio"}>
  <section class="w-[90%] mx-auto py-10 rounded-md">
    <picture>
      <source media="(min-width:768px)" srcset="/desktop.png" />
      <img src="/phone.png" class="w-full" />
    </picture>
  </section>


</Layout>
