<div
  class="flex flex-col py-8 items-center justify-center border-t border-gray-200 gap-4"
>
  <a
    class="flex-none text-xl font-semibold dark:text-white"
    href="/"
    aria-label="Brand"
  >
    <img src="/black-logo.png" alt="Solé" class="h-12" />
  </a>
  <p>In progress...</p>
  <p class="text-gray-400">2023</p>
</div>
